<section data-ng-controller="HomeController">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/modules/core/img/photos/Wolf-Creek-Ranch-retreat.jpg" class="img-responsive" alt="Wolf Creek Ranch Retreat">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="/modules/core/img/photos/Kasia.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="/modules/core/img/photos/rooftop-yoga2.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            ...
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    	<div class="row">
            <h2 class="lead center-block">Yoga Classes and Retreats for Cancer Survivors and Their Loved Ones</h2>
            <p class="">
                A Quality Life Community (AQLC) offers a wellness program for cancer patients, caregivers and loved ones.
                AQLC provides free series of yoga , meditation classes, recovery retreats, as well as the newest insights
                on proper medical care, alternative care, nutrition and other innovative therapies.
            </p>
            <p>
                AQLC is unique in that it is designed to support not just the individual, but is inclusive for the entire
                family's self-healing. AQLC is also dedicated to teaching yoga and meditation teachers how to teach this powerful work.
			</p>
		</div>
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-quote-left fa-2x pull-left fa-border"></i>
                    <h5><em>Seven years ago, A Quality Life Community was just a weekly yoga class and not yet
                        a non-profit organization. We operated out of a yoga studio in Salt Lake City and met on Thursday nights.
                        The collective group of men and women who gathered together, unbeknown to us at the time, would experience
                        a period of time that would bind us forever.</em></h5>
                    <i class="fa fa-quote-right fa-2x pull-right fa-border"></i>
                <p><a target="_blank" >Read More</a> </p>
            </div>
            <div class="col-md-4">
                <img src="/modules/core/img/photos/learning yoga.jpg" class="img-responsive img-rounded">
            </div>
            <div class="col-md-4">
                <h2>
                    <strong>News...</strong>
                </h2>
                <p> <a target="_blank" > </a> This is Blurb #3</p>
            </div>

        </div>

</section>