<section data-ng-controller="HomeController">
        <div class="row">
            <div class="col-md-12">
                <ul rn-carousel class="image">
                    <li><img src="/modules/core/img/photos/Wolf Creek Ranch retreat.jpg"></li>
                    <li>slide #2</li>
                    <li>slide #3</li>
                </ul>
            </div>
        </div>
		<div class="row">
            <h2 class="lead center-block">Yoga Classes and Retreats for Cancer Survivors and Their Loved Ones</h2>
            <p class="">
                A Quality Life Community (AQLC) offers a wellness program for cancer patients, caregivers and loved ones.
                AQLC provides free series of yoga , meditation classes, recovery retreats, as well as the newest insights
                on proper medical care, alternative care, nutrition and other innovative therapies.
           </p>
            <p>
                AQLC is unique in that it is designed to support not just the individual, but is inclusive for the entire
                family's self-healing. AQLC is also dedicated to teaching yoga and meditation teachers how to teach this powerful work.
			</p>
		</div>
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-quote-left fa-2x pull-left fa-border"></i>
                    <h5><em>Seven years ago, A Quality Life Community was just a weekly yoga class and not yet
                        a non-profit organization. We operated out of a yoga studio in Salt Lake City and met on Thursday nights.
                        The collective group of men and women who gathered together, unbeknown to us at the time, would experience
                        a period of time that would bind us forever.</em></h5>
                    <i class="fa fa-quote-right fa-2x pull-right fa-border"></i>
                <p><a target="_blank" >Read More</a> </p>
            </div>
            <div class="col-md-4">
                <img src="/modules/core/img/photos/learning yoga.jpg" class="img-responsive img-rounded">
            </div>
            <div class="col-md-4">
                <h2>
                    <strong>News...</strong>
                </h2>
                <p> <a target="_blank" > </a> This is Blurb #3</p>
            </div>

        </div>

</section>